[Unit]
Description=UNIX socket for Fairdata SSO

[Socket]
ListenStream={{ gunicorn_socket }}
SocketMode=0666
SocketUser={{ application_user }}
SocketGroup={{ application_group }}

[Install]
WantedBy=sockets.target
